

td,p,li,select,input,textarea,div{font-size:15px;}

ul{list-style-type:none;}
select,input{vertical-align:middle;}

/*a:link{color:#5E7AC1;text-decoration:none;}
*/
#myTableContent a{
	color:grey;
}
#myTableContent a:hover,a:active{
	text-decoration: underline;color:lightseagreen;
}
#myTableContent a:visited{
	color:lightsalmon;
}
#myTableContent a:link{
	color:grey
}
.clearit{clear:both;}

.list{
margin: 0px 9px 18px;
text-align: left;
}
.list ul{
list-style-type: none;
margin: 0px;
padding: 0px;
}

.list li a{
padding: 5px 0px 3px 13px;
}


.list li span{
float: right;
text-align: right;/*日期右对齐*/
}
